<!DOCTYPE html>
<html>
  <head>
    <title>About Invoice Capture OCR</title>
    <link rel="stylesheet" href="static/about.css" />
  </head>
  <body>
    <div class="navigation">
      <a href="{{ url_for('home') }}">Home</a>
      <a href="{{ url_for('getresults') }}">Get Results</a>
      <a href="{{ url_for('about') }}">About</a>
      <a href="{{ url_for('feedback') }}">Feedback</a>
      <a href="{{ url_for('contact') }}">Contact</a>
    </div>
    <div class="container content">
      <h1>About Invoice Capture OCR</h1>
      <p>Invoice Capture OCR is a sophisticated project aimed at automating the extraction of essential information from PDF invoices using Optical Character Recognition (OCR) technology.</p>
      <p>Our platform allows users to upload PDF invoices, which are then converted into images for efficient processing. The OCR engine processes these images to extract key details such as invoice numbers, dates, amounts, and more. The extracted data is securely stored in a structured SQL database for easy retrieval and integration with other business systems.</p>
      <p>We strive to provide a user-friendly experience, ensuring seamless interaction and streamlined operations. CloudInvoice OCR is designed to enhance efficiency, accuracy, and productivity in handling invoices, ultimately leading to improved business processes.</p>
    </div>
  </body>
</html>
